.image_container img {
    width: 15%;
}


.font_css {
    /* color: burlywood; */
    font-family: "Roboto Slab", serif;
    font-size: 2.5rem;
    padding: 1px 15px;
    transition: color 0.3s, background-color 0.8s ease-in-out;

}

.font_css:hover {
    color: red;
    transition: color 0.3s, background-color 0.8s ease-in-out;
}